* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sidebar {
  position: absolute;
  width: 190px;
  height: 200vh;
  background: rgb(14, 29, 59);
  left: -190px;
  transition: 0.7s;
  color: white;
}
#sidebar .toggle-btn {
  position: absolute;
  top: 13px;
  left: 200px;
}
#sidebar.active {
  left: 0;
}
.toggle-btn {
  cursor: pointer;
}
.toggle-btn span {
  width: 35px;
  height: 4px;
  background-color: rgb(14, 29, 59);
  display: block;
  margin-top: 4px;
}

/* Dashboard Menu Item */
.nav-menu {
  text-align: center;
  margin: 20px;
  border-radius: 4px;
  padding: 5px;
}
.nav-menu a {
  color: white;
  text-decoration: none;
  display: flex;
  font-family: sans-serif;
  align-items: center;
  box-shadow: 0 3px 10px rgba(24, 24, 24, 0.2);
}
.table-icon {
  margin-right: 10px;
}

/*  */
.accordion {
  width: 100%;
}
.accordion .contentBox {
  position: relative;
  margin: 10px 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.accordion .contentBox .label {
  position: relative;
  padding: 10px;
  background: teal;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
.accordion .contentBox .label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}
.accordion .contentBox.active .label::before {
  content: "-";
  font-size: 2.5em;
}
.accordion .contentBox .content {
  position: relative;
  background: #0e1d3b;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}
.accordion .contentBox.active .content {
  height: auto;
}

.accordion .contentBox .content button {
  margin-top: 10px;
  padding: 10px;
  background: teal;
  display: inline-block;
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 6px;
}

/* Accordion */
/* summary {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.svg {
  position: relative;
  margin-left: 6px;
  height: 20px;
  width: 20px;
  flex-shrink: 0;
} */

/* absolute inset-0 h-5 w-5 opacity-100 group-open:opacity-0 */
/* .svg-plus {
  position: absolute;
  height: 20px;
  width: 20px;
  opacity: 1;
  inset: 0;
  transition: 1s;
}
group-open {
  opacity: 0;
}
.svg-minus {
  position: absolute;
  height: 20px;
  width: 20px;
  opacity: 1;
  inset: 0;
  transition: 1s;
} */
