nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 10%;
}
nav a {
  text-decoration: none;
}
.logo {
  font-size: 30px;
  color: #3bb4a5;
}
.logo img {
  width: 25px;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #3bb4a5;
}
nav ul li a:hover {
  color: #878785;
}
