.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}
.topnav a {
  float: left;
  color: #3bb4a5;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
.topnav a:hover {
  background-color: #ddd;
  color: rgb(18, 231, 185);
}

.topnav a.active {
  background-color: #2196f3;
  color: white;
}

.logo {
  font-size: 30px;
  color: #3bb4a5;
}
.logo img {
  width: 25px;
}
.logo:hover {
  color: rgb(18, 231, 185);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 10%;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
.search-container {
  float: right;
}

.search-container input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}
