@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
.card {
  width: 100%;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 6px;
  height: 210px;
  padding: 10px 0;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}
.card img {
  width: 90%;
  border-radius: 8px;
  height: 100px;
}
.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  justify-content: space-between;
  padding: 0px 15px;
}
.card button {
  width: 100%;
  margin-top: 14px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #3bb4ad;
  font-weight: 400;
  font-size: 15px;
  color: white;
  font-family: "Roboto Slab", serif;
}
.card button:hover {
  background-color: #c1c1c0;
  color: black;
}
