.exports-btn {
  display: flex;
  gap: 20px;
}
.export-btn {
  background-color: teal;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
}
.export-btn a {
  color: white;
  text-decoration: none;
}
.table-title {
  text-align: center;
  font-size: 30px;
  margin: 20px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.table thead,
.table tbody {
  padding: 10px;
}
.table th {
  background-color: #0e1d3b;
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #e7e5e5;
}
.table td,
.table th {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 12px;
  padding: 10px 1px;
}
.table tbody tr:hover {
  background-color: #494f5b;
  color: white;
}
#stand {
  margin: 100px;
}
.sticky {
  position: sticky;
  top: 0px;
  z-index: 50;
}

.dropbtn {
  color: rgb(2, 2, 2);
  padding: 3px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 30px;
  z-index: 1;
}
.dropdown-content button {
  font-size: 16px;
  margin-top: 5px;
  display: inline-block;
  color: #3bb4a5;
  cursor: pointer;
  font-size: 20px;
}
.edit-icon {
  color: #3bb4a5;
}
.btn-icon:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* Links inside the dropdown */
.dropdown-content {
  padding: 8px 10px;
  text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(212, 209, 209);
  transform: scale(1.25);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #c3ccc4;
}

/* Responsive */
/* @media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
} */
