@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
.edit-title {
  text-align: center;
  font-family: "Sansita Swashed", cursive;
  margin-top: 50px;
}
.edit-form {
  max-width: 450px;
  background: #fafafa;
  padding: 30px;
  margin: 20px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #305a72;
}
.edit-form ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.edit-form ul li {
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
}
.edit-form ul li .field-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #b0cfe0;
}
.edit-form ul li .field-style:focus {
  box-shadow: 0 0 5px #b0cfe0;
  border: 1px solid #b0cfe0;
}
.edit-form ul li .field-split {
  width: 49%;
}
.edit-form ul li .field-full {
  width: 100%;
}
.edit-form ul li input.align-left {
  float: left;
}
.edit-form ul li input.align-right {
  float: right;
}
.edit-form ul li textarea {
  width: 100%;
  height: 100px;
}
.edit-form ul li input[type="button"],
.edit-form ul li input[type="submit"] {
  box-shadow: inset 0px 1px 0px 0px #3985b1;
  background-color: #216288;
  border: 1px solid #17445e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 8px 18px;
  text-decoration: none;
  font: 12px Arial, Helvetica, sans-serif;
}
.edit-form ul li input[type="button"]:hover,
.edit-form ul li input[type="submit"]:hover {
  background: linear-gradient(to bottom, #2d77a2 5%, #337da8 100%);
  background-color: #28739e;
}
