* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: aqua;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#toggle::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: white;
  transform: translateY(-5px);
  transition: 0.2s;
  border-radius: 10px;
}
#toggle::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: white;
  transform: translateY(5px);
  transition: 0.2s;
  border-radius: 10px;
}
#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
}
#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}
#sidebar {
  position: fixed;
  top: 0;
  left: -220px;
  width: 220px;
  height: 100vh;
  background: rgb(4, 48, 48);
  transition: 0.5s;
}
#sidebar.active {
  left: 0px;
}
#sidebar ul {
  position: relative;
  top: 50px;
}
#sidebar ul li {
  list-style: none;
  width: 100%;
  display: inline-block;
  padding: 10px 10px;
}
#sidebar ul li:hover {
  background-color: chocolate;
}
#sidebar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
}
