.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px 100px;
  gap: 20px;
}
.product-section {
  margin-top: 50px;
  margin-left: 100px;
}
.loader {
  width: 80px;
  margin: 45vh auto;
}
.footer {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}
